<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img id="jorno-logo" src="/images/jorno-logo.jpg" alt="jorno-logo">
        {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {{!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li> --}}
                <li class="nav-item">
                    <a class="nav-link" href="/news">News</a>
                </li>


                {{#if writter}}
                <li class="nav-item">
                    <a class="nav-link" href="/create-blogpost">Write</a>
                </li>
                {{/if}}


                {{#if editor}}
                <li class="nav-item">
                    <a class="nav-link" href="/find-blogpost">Find</a>
                </li>
                {{/if}}


                <li class="nav-item">
                    <a class="nav-link" href="/auth/{{loggedId}}">Profile</a>
                </li>



                <li>
                    <form action="/logout" method="POST">
                        <button id="logout-btn" type="submit">Logout</button>
                    </form>
                </li>

            </ul>
        </div>
    </div>
</nav>





<div class="user-profile-div">
    <img id="edit-profile-icon" src="/images/edit-profile-icon.png" alt="edit-profile-icon">
    <h1> edit </h1>

    <div>
        <span class="span-bold">Username</span>
        <span>{{userToEdit.username}}</span>
    </div>

    <div>
        <span class="span-bold">Email</span>
        <span>{{userToEdit.email}}</span>
    </div>

    <div>
        <span class="span-bold">Role</span>
        <span>{{userToEdit.role}}</span>
    </div>
    <br>

    <form action="/auth/{{userToEdit._id}}/edit" method="post" enctype="multipart/form-data">

        <label for="">Location</label>
        <br>
        <input class="input-edit" type="text" name="location" value="{{userToEdit.location}}">

        <br>
        <label for="">Bio</label>
        <br>
        <input class="input-edit" type="text" name="bio" value="{{userToEdit.bio}}">

        {{!-- <br>
        <label for="">Interests</label>
        <br>
        <input class="input-edit" type="text" name="bio" value="{{userToEdit.bio}}"> --}}

        <br>
        {{!-- <label for="">Image</label> --}}
        {{!-- <br> --}}
        <div id="profile-update-div" class="file-input">
            <input type="file" id="file" class="file img-input" name="image">
            <label for="file">Profile Picture</label>
            <button class="black-btn" type="submit"> Update </button>
        </div>
        {{!-- <input type="file" name="image"> --}}
        {{!-- <br>
        <br> --}}
        {{!-- <button class="black-btn" type="submit"> update </button> --}}
    </form>

</div>