<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img id="jorno-logo" src="/images/jorno-logo.jpg" alt="jorno-logo">
        {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {{!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li> --}}
                <li class="nav-item">
                    <a class="nav-link" href="/news">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create-blogpost">Write</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/{{loggedId}}">Profile</a>
                </li>
                <li>
                    <form action="/logout" method="POST">
                        <button id="logout-btn" type="submit">Logout</button>
                    </form>
                </li>

            </ul>
        </div>
    </div>
</nav>



<h1>Profile</h1>

<p>Username: {{username}}</p>
<p>Email: {{email}}</p>
<p>Role: {{role}}</p>

{{!-- {{#if imageUrl}}
<img height="200" width="200" src={{imageUrl}} />
{{/if}} --}}


{{#if location}}
<p>Location: {{location}}</p>
{{/if}}


{{#each interests}}
<p>Interests:{{this}}</p>
{{/each}}


{{#if bio}}
<p>Bio: {{bio}}</p>
{{/if}}


<a href="/auth/{{_id}}/edit">Edit profile</a>