<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img id="jorno-logo" src="/images/jorno-logo.jpg" alt="jorno-logo">
        {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {{!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li> --}}
                <li class="nav-item">
                    <a class="nav-link" href="/news">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create-blogpost">Write</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/{{loggedId}}">Profile</a>
                </li>
                <li>
                    <form action="/logout" method="POST">
                        <button id="logout-btn" type="submit">Logout</button>
                    </form>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="user-profile-div">
    <img id="profile-icon" src="/images/profile-icon2.png" alt="profile-icon">
    <h1>Profile</h1>
    <div>




        <div id="user-profile-div-1">

            <div>
                <span class="span-bold">Username</span>
                <span> {{username}}</span>
            </div>

            <div>
                <span class="span-bold">Email</span>
                <span> {{email}}</span>
            </div>

            <div>

                <span class="span-bold">Role </span>
                <span>{{role}}</span>
            </div>


            {{!-- {{#if imageUrl}}
            <img height="200" width="200" src={{imageUrl}} />
            {{/if}} --}}







            <div>
                {{#if location}}
                <span class="span-bold">Location</span>
                <span>{{location}}</span>
                {{/if}}
            </div>

            <div>
                {{#each interests}}
                <span class="span-bold">Interests</span>
                <span>{{this}}</span>

                {{/each}}
            </div>

            <div>
                {{#if bio}}
                <span class="span-bold">Bio</span>
                <span>{{bio}}</span>

                {{/if}}
            </div>



            <button id="edit-profile" class="black-btn" type="submit">
                <a href="/auth/{{_id}}/edit">Edit profile</a>
            </button>


        </div>
        <div id="user-profile-div-2">

            <div>

                <img id="profile-blogposts-icon" src="/images/profile-blogposts-icon.png" alt="blogposts-icon">
                <a id="profile-blogposts-a" href="/blogposts">My Blogposts</a>
            </div>
            <div>
                <img id="profile-favnews-icon" src="/images/profile-news-icon.png" alt="signup-icon">
                <a id="profile-news-a" href="/news/{{loggedId}}/favorites">News archive</a>
            </div>







        </div>

    </div>
</div>