<h1>Edit book</h1>
<form action="/books/{{bookToEdit._id}}/edit" method="POST">
    <label>Title</label>
    <input type="text" name="title" value="{{bookToEdit.title}}" />

    <label>Author</label>
    {{!-- <input type="text" name="author" value="{{author}}" /> --}}
    <select name="author">
        <option value="">Choose author</option>
        {{#each allAuthors}}
        {{#eq name ../bookToEdit.author.name}}
        <option value={{_id}} selected>{{name}}</option>
        {{else}}
        <option value={{_id}}>{{name}}</option>
        {{/eq}}
        {{/each}}
    </select>

    <label>Description</label>
    <textarea row="5" cols="30" name="description">{{bookToEdit.description}}</textarea>


    <label>Rating</label>
    <input type="number" name="rating" value={{bookToEdit.rating}} />


    <button type="submit">Update</button>

</form>