<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img id="jorno-logo" src="/images/jorno-logo.jpg" alt="jorno-logo">
        {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {{!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li> --}}
                <li class="nav-item">
                    <a class="nav-link" href="/news">News</a>
                </li>

                {{#if writter}}
                <li class="nav-item">
                    <a class="nav-link" href="/create-blogpost">Write</a>
                </li>
                {{/if}}


                {{#if editor}}
                <li class="nav-item">
                    <a class="nav-link" href="/find-blogpost">Find</a>
                </li>
                {{/if}}


                <li class="nav-item">
                    <a class="nav-link" href="/auth/{{loggedId}}">Profile</a>
                </li>

                {{!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown link
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>--}}
                <li>
                    <form action="/logout" method="POST">
                        <button id="logout-btn" type="submit">Logout</button>
                    </form>
                </li>

            </ul>
        </div>
    </div>
</nav>


{{!-- PREVIOUS WORKING CODE --}}
{{!-- <h1>{{blogpostDetail.title}}</h1>
<p>Author: {{blogpostDetail.author}}</p>
<p>description: {{blogpostDetail.description}}</p>
<p>Published: {{blogpostDetail.publishedAt}}</p>
<p>Content:{{{blogpostDetail.content}}}</p>
<p>Keywords:{{blogpostDetail.keywords}}</p> --}}





<section id="blog-item-in-list">
    <div id="article-head">
        <p id="title-style">{{blogpostDetail.title}}</p>
        </a>
        <p class="blog-description">{{blogpostDetail.description}}</p>
        <section id="horizontal-over-content">
            <div class="byline-author-img"></div>
            <div id="blog-author-info">
                {{blogpostDetail.author}} <br>
                <p>{{blogpostDetail.publishedAt}} | 5 min</p>
            </div>
            <div id="string-of-icons">
                <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Flocalhost%3A3000%2Fblogposts&text=" target="_blank"><img
                        class="SoMe-icons" src="/images/twitter-icon.png"></a>
                <a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Flocalhost%3A3000%2Fblogposts&title=" target="_blank"><img
                        class="SoMe-icons" src="/images/linkdin-icon.png"></a>
                <a href="https://www.instagram.com" target="_blank"><img class="SoMe-icons" src="/images/ig-icon.png"></a>
                <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2Fblogposts" target="_blank"><img
                        class="SoMe-icons" src="/images/fb-icon.png"></a>
            </div>
        </section>
    </div>
    <br>
    <div id="article-content">
        {{{blogpostDetail.content}}}
        <br>
        <p id="blog-author-info">Keywords:{{blogpostDetail.keywords}}</p>
    </div>

    <br>
    <form action="/blogposts/{{blogpostDetail._id}}/delete" method="POST">
        <div class="writer-blog-btns">
            <button class="black-btn" type="submit">Delete</button>
        </div>
    </form>
    <br>
</section>








{{#if writter}}
<button class="black-btn"><a class="unstyle-link" href="/blogposts/{{blogpostDetail._id}}/edit">Edit</a></button>
{{/if}}


<hr>


{{#if editor}}
{{#unless bFavorite}}
<form action="/blogposts/{{blogpostDetail._id}}" method="POST">
    <button class="favorite-btn" type="submit"><img id="favorites-icon" src="/images/favorites-blogposts.png"
            alt="favorites-blogposts-icon">
        {{!-- <i class="fas fa-folder-plus"> <i class="far fa-bookmark"></i></i> --}}
    </button>
</form>
{{/unless}}

{{#if bFavorite}}
<form action="/blogposts/favorites/{{blogpostDetail._id}}/delete" method="POST">
    <button class="favorite-btn" type="submit"><img id="delete-icon" src="/images/delete.png"
            alt="detele-icon"></button>
</form>
{{/if}}

{{/if}}

