<h1>{{title}}</h1>
<p>Author: {{author}}</p>
<p>description: {{description}}</p>
<p>Published: {{publishedAt}}</p>
<p>Content:{{{content}}}</p>


<p>Keywords:{{keywords}}</p>


<a href="/blogposts/{{_id}}/edit">Edit blogpost</a>

</form>
<hr>






