<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img id="jorno-logo" src="/images/jorno-logo.jpg" alt="jorno-logo">
        {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {{!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li> --}}
                <li class="nav-item">
                    <a class="nav-link" href="/news">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create-blogpost">Write</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/{{loggedId}}">Profile</a>
                </li>

                {{!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown link
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>--}}
                <li>
                    <form action="/logout" method="POST">
                        <button id="logout-btn" type="submit">Logout</button>
                    </form>
                </li>

            </ul>
        </div>
    </div>
</nav>





{{!-- <h1>Blogposts list</h1>

{{#each blogpostsFromDB}}
<div>
    <a href="/blogposts/{{_id}}">
        {{title}}
    </a>
    <p>By: {{author}}</p> --}}

    {{!-- HTML only supports get or post methods --}}
    {{!-- <form action="/blogposts/{{_id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>

    

</div>
<br><br>
{{/each}} --}}


{{!-- <h3>Blogposts list</h3>
{{#each blogpostsFromDB }}
<div id="article-head">
    <a id="title-style" href="/blogposts/{{_id}}">
        <h2>{{title}}</h2>
    </a>
    <h4>{{description}}</h4>
    {{author}}
</div>
<br>
<div id="article-content">
    {{{content}}}
</div>
<br>
<form action="/blogposts/{{_id}}/delete" method="POST">
    <button type="submit">Delete</button>
</form>
<br>
{{/each}} --}}



{{#each blogpostsFromDB }}
<section id="blog-item-in-list">
    <div id="article-head">
        <a id="title-style" href="/blogposts/{{_id}}">
            <p>{{title}}</p>
        </a>
        <p class="blog-description">{{description}}</p>
        <section id="horizontal-over-content">
            <div class="byline-author-img"></div>
            <div id="blog-author-info">
                {{author}}
                {{publishedAt}}<p> | 5 min</p>
            </div>
            <div id="string-of-icons">
                <a href="https://twitter.com/intent/tweet"><img class="SoMe-icon" src=""></a>
                <a href=""><img class="SoMe-icon" src=""></a>
                <a href=""><img class="SoMe-icon" src=""></a>
                <a href=""><img class="SoMe-icon" src=""></a>
            </div>
        </section>
    </div>
    <br>
    <div id="article-content">
        {{{content}}}
    </div>
    <form action="/blogposts/{{_id}}/delete" method="POST">
        <button class="black-btn" type="submit">Delete</button>
    </form>
    <br>
</section>
{{/each}}




