<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img id="jorno-logo" src="/images/jorno-logo.jpg" alt="jorno-logo">
        {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {{!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li> --}}
                <li class="nav-item">
                    <a class="nav-link" href="/news">News</a>
                </li>

                {{!-- {{#if writter}}
                <li class="nav-item">
                    <a class="nav-link" href="/create-blogpost">Write</a>
                </li>
                {{/if}} --}}



                <li class="nav-item">
                    <a class="nav-link" href="/find-blogpost">Find</a>
                </li>



                <li class="nav-item">
                    <a class="nav-link" href="/auth/{{loggedId}}">Profile</a>
                </li>

                {{!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown link
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>--}}
                <li>
                    <form action="/logout" method="POST">
                        <button id="logout-btn" type="submit">Logout</button>
                    </form>
                </li>

            </ul>
        </div>
    </div>
</nav>



{{!-- <h1>...find any article</h1> --}}

<div id="blogpost-search-div">
    <form action="/blogpost-search" method="GET">
        {{!-- enctype multipart lets me insert images --}}
        <label></label>
        <input id="search-bar-fav" type="text" name="keywords" placeholder="Search" />
        <button id="search-btn-2-page" type="submit"><i class="fas fa-search"></i></button>
    </form>
</div>








{{!-- {{#each blogpostsFromDB }}
<section id="blog-item-in-list">
    <div id="article-head">
        <a id="title-style" href="/blogposts/{{_id}}">
            <p>{{title}}</p>
        </a>
        <p class="blog-description">{{description}}</p>
        <section id="horizontal-over-content">
            <div class="byline-author-img"></div>
            <div id="blog-author-info">
                {{author}}
                {{publishedAt}}<p> | 5 min</p>
            </div>
            <div id="string-of-icons">
                <a href="https://twitter.com/intent/tweet"><img class="SoMe-icon" src=""></a>
                <a href=""><img class="SoMe-icon" src=""></a>
                <a href=""><img class="SoMe-icon" src=""></a>
                <a href=""><img class="SoMe-icon" src=""></a>
            </div>
        </section>
    </div>
    <br>
    <div id="article-content">
        {{{content}}}
    </div>


    <br>

   


</section>
{{/each}} --}}




{{#each blogpostsFromDB }}
<section id="blog-item-in-list">
    <div id="article-head">
        <br>
        
        <a id="title-style" href="/blogposts/{{_id}}">
            <p>{{title}}</p>
        </a>
        <p class="blog-description">{{description}}</p>
        <section id="horizontal-over-content">
            <img class="byline-author-img" src="{{user.imageUrl}}">
            <div id="blog-author-info">
                {{author}} <br>
                <p>{{publishedAt}}</p>
            </div>
            <div id="string-of-icons">
                <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Flocalhost%3A3000%2Fblogposts&text="
                    target="_blank"><img class="SoMe-icons" src="/images/twitter-icon.png"></a>
                <a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Flocalhost%3A3000%2Fblogposts&title="
                    target="_blank"><img class="SoMe-icons" src="/images/linkdin-icon.png"></a>
                <a href="https://www.instagram.com" target="_blank"><img class="SoMe-icons"
                        src="/images/ig-icon.png"></a>
                <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2Fblogposts"
                    target="_blank"><img class="SoMe-icons" src="/images/fb-icon.png"></a>
            </div>
        </section>
    </div>
    <br>

    {{!-- <div id="article-content">
        {{{content}}}
    </div> --}}

    <div id="separation-line-blogpostlist"></div>
</section>
{{/each}}