<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img id="jorno-logo" src="/images/jorno-logo.jpg" alt="jorno-logo">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="/news">News</a>
                </li>


                {{#if writter}}
                <li class="nav-item">
                    <a class="nav-link" href="/create-blogpost">Write</a>
                </li>
                {{/if}}


                {{#if editor}}
                <li class="nav-item">
                    <a class="nav-link" href="/find-blogpost">Find</a>
                </li>
                {{/if}}

                {{!-- <li class="nav-item">
                    <a class="nav-link" href="/create-blogpost">Write</a>
                </li> --}}




                <li class="nav-item">
                    <a class="nav-link" href="/auth/{{loggedId}}">Profile</a>
                </li>


                <li>
                    <form action="/logout" method="POST">
                        <button id="logout-btn" type="submit">Logout</button>
                    </form>
                </li>

            </ul>
        </div>
    </div>
</nav>




<div id="news-search-background">
    <img id="news-fav-icon" src="/images/profile-news-icon.png" alt="news-fav-icon">
    {{!-- <div id="h1-news-fav-div">

        <h1>News archive</h1>

    </div> --}}
<br>

    {{#each newsFavorites}}
    <div class="news-fav">
        {{!-- <a href="{{url}}" target="_blank">
            {{title}}
        </a> --}}

        <a href="{{url}}" target="_blank">
            {{title}}
        </a>

        <div id="separation-line-fav"></div>

        <form action="/news/favorites/{{_id}}/delete" method="POST">
            <button class="favorite-btn" type="submit"><img id="delete-icon" src="/images/delete.png"
                    alt="detele-icon"></button>
        </form>
        <br>
        <br>


        {{!-- <form action="/blogposts/{{_id}}/delete" method="POST">
            <button type="submit">Delete</button>
        </form> --}}
    </div>
    {{/each}}



</div>