<h1>News favorites list</h1>

{{#each newsFavorites}}
<div>
    {{!-- <a href="{{url}}" target="_blank">
        {{title}}
    </a> --}}

    <a href="{{url}}" target="_blank">
        {{title}}
    </a>
    <form action="/news/favorites/{{_id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>
    <br>


    {{!-- <form action="/blogposts/{{_id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form> --}}

{{/each}}



</div>

