<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img id="jorno-logo" src="/images/jorno-logo.jpg" alt="jorno-logo">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="/news">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create-blogpost">Write</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/{{loggedId}}">Profile</a>
                </li>


                <li>
                    <form action="/logout" method="POST">
                        <button id="logout-btn" type="submit">Logout</button>
                    </form>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div id="news-search-background">
    <img id="news-search-icon" src="/images/news-search-icon.jpg" alt="news-search-icon">
    <div id="h1-news-div">
        <h1 id="h1-news-search">Your search results</h1>

        <h1 id="h1-news-search-q">{{q}}</h1>
    </div>


    {{!-- CAN I GET Q ON TITLE? --}}
    <div id="news-search-div">
        <form action="/news-search" method="GET">
            {{!-- enctype multipart lets me insert images --}}

            <label></label>
            <input id="search-bar-page-2" type="text" name="q" placeholder="Search" />


            <button id="search-btn-2-page" type="submit"><i class="fas fa-search"></i></button>

        </form>
    </div>













    <div id="main-div-card-news">



        {{#each articles}}
        <div class="card-news">

            <h5>
                <a href="{{url}}" target="_blank">
                    {{title}}
                </a>
            </h5>

            <p>{{description}}</p>
            {{!-- <img src="{{urlToImage}}" alt="news-images"> --}}
            <p>{{content}}</p>
            {{!-- <p>{{author}}</p>
            <p>{{publishedAt}}</p> --}}
            <form action="/news/favorites/{{../q}}/add" method="POST">
                <input class="input-to-hide" type="text" name="title" value="{{title}}" />
                <input class="input-to-hide" type="text" name="url" value="{{url}}" />
                <button class="favorite-btn" type="submit"><img id="favorites-icon" src="/images/favorites.png" alt="favorites-icon">
                    {{!-- <i class="fas fa-folder-plus"> <i
                            class="far fa-bookmark"></i></i> --}}
                            </button>

            </form>



        </div>



        {{!-- <p>{{title}}</p> --}}
        {{/each}}



    </div>



</div>